@CHARSET "UTF-8";
.css4 {position:absolute;left:450px;top:50px}
.css5 {position:absolute;left:450px;top:100px}
.css6 {position:absolute;left:450px;top:150px}
.css7 {position:absolute;left:450px;top:200px}
.css8 {position:absolute;left:600px;top:50px}
.text {width:300px;height:190px}
.width{width:140px}
.button{width:140px;height:50px}
.color{color: #ff0000}

